<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is Home Page</h1>
    <h3><%= ["Hello", "world", "Java", "C++"][2] %></h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi,
      perspiciatis maxime accusamus illum nulla quos repellat quisquam molestiae
      provident, eaque debitis eligendi animi ex alias nemo reiciendis
      voluptatem ipsum! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Quod labore officiis reiciendis quam? Ab saepe ut quasi, dicta
      provident praesentium aspernatur vitae fugit repudiandae quisquam
      cupiditate accusantium neque delectus alias. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Nulla nisi laboriosam doloribus maiores
      quisquam quo possimus ad obcaecati, quidem laborum eveniet accusamus
      assumenda deleniti ratione autem dignissimos corporis! Necessitatibus,
      asperiores.
    </p>
  </body>
</html>